* {
	box-sizing: border-box;
	background: #333;
	color: #fff;
	font-family: Poppins;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	padding: 50px;
}

h1 {
	margin-bottom: 50px;
}

.settings {
	display: flex;
	justify-content: space-between;
	gap: 15px;
	width: 300px;
	margin-bottom: 20px;
}

label {
	display: flex;
	flex-direction: column;
	align-items: start;
	flex-basis: 50%;
}

input {
	width: 100%;
	padding: 10px;
	border: 2px solid #fff;
	border-radius: 5px;
}

input[type='checkbox'] {
	margin-top: 15px;
}

.list {
	height: 500px;
	width: 300px;
	overflow: auto;
}
